<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
     <style>
        /* Center the form vertically */
        body {
            background-color: #f1f1f1;
        }
  
    </style>
</head>
<body>
    <center>
    <h1>Login</h1>
    <form method="POST">
        <label>Username:</label>
        <input type="text" name="username"><br><br>
        <label>Password:</label>
        <input type="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>
    </center>
</body>
</html>